/* HTML TAGS */

body {
    /* background-color: rgb(236, 124, 124); */
    background-image: linear-gradient(rgb(9, 85, 85), rgb(75, 21, 145), rgb(9, 85, 85));
    /* background-color: rgb(41, 129, 153); */
    font-family: 'Montserrat';
    color: whitesmoke;
}

h2 {
    line-height: 2.5;
    font-size: 2.5rem;
}

h3 {
    font-size: 1.9rem;
    padding-bottom: 5%;
}

a {
    color: rgb(9, 243, 243);
    text-decoration: none;
}

/* HEADINGS */

.big-heading {
    font-weight: 500;
    font-size: 3.5rem;
}

/* CONTAINERS */

.container-fluid {
    padding: 7% 15%;
}

.container-middle {
    padding: 0 15% 7%;
}

.container-carousel {
    padding: 10% 30% 10% 0%;
}

/* CLASSES */

.decorated-text {
    font-weight: 300;
    color: rgb(9, 243, 243);
}

.link-text {
    font-weight: 500;
    color: rgb(9, 243, 243);
    --bs-link-hover-color: rgb(32, 253, 3);
}

.side-bar {
    position: fixed;
    left: 90%;
    top: 70%
}

.side-bar a {
    font-weight: 500;
    /* --bs-link-hover-color: whitesmoke; */
    --bs-link-hover-color: rgb(32, 253, 3);
}

.social-icons {
    margin-top: 10%;
    /* width: 1%; */
}

.carousel-caption {
    font-family: 'Open Sans', sans-serif;
    top: 15%;
}

.carousel-link {
    font-size: 40px;
    padding: 0 1rem;
    opacity: 0;
    transition: opacity .3s;
}

.carousel-item:hover .carousel-description {
    opacity: 0;
    transition: opacity .3s;
}

.carousel-item:hover .carousel-link {
    opacity: 100%;
    transition: opacity .3s;
    color: rgba(40, 4, 53, 0.74);
    /* color: rgb(76, 218, 58); */
}

.icon-spacing {
    padding-left: 2%;
    padding-right: 2%;
}

.tech-list {
    color: rgb(9, 243, 243);
    font-size: 1rem;
    font-weight: 500;
}

.icon-size {
    font-size: 20px;
    /* --bs-link-hover-color: whitesmoke; */
}

.hover01 img {
	-webkit-filter: brightness(10%);
    filter: brightness(10%);

	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 :hover img {
	-webkit-filter: none;
    filter: none;
}

.credits {
    text-align: center;
    font-size: 0.9rem;
    /* margin-top: 3%; */
    margin-bottom: 3%;
}

#contact .container-fluid {
    padding: 0% 25% 7%;
    text-align: center;
}

/* BUTTONS */

.btn-outline-primary {
    color: rgb(9, 243, 243);
    --bs-btn-border-color: rgb(9, 243, 243);
    --bs-btn-hover-bg: rgba(9, 243, 243, 0.2);

    --bs-btn-hover-color: rgb(9, 243, 243);
    --bs-btn-hover-border-color: rgb(9, 243, 243);
}

button {
    margin-top: 3%;
}



